/*Import fonts*/

@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

/*Do css reset*/
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
.html{
    scroll-behavior: smooth;

}
body{
    font-family: 'Times New Roman', Times, serif;
}

section{
    min-height: 80vh;
    overflow: hidden;
}

/* Navbar styles */
nav{
    font:300 1rem Poppins;
    position:fixed;
    right: 5vh;
    top: 5vh;
    z-index: 10;
}
nav ul{
    list-style-position: outside;
    text-align: center;
    line-height: 2rem;
    list-style-type:none;
}


/* Utility styles */

.sliding-button {
    display: inline-flex;
    border-radius: 0.5em;
    border: 1px solid black;
    padding: 0.6em 1.2em;
    margin: 1em;
    align-items: center;
    justify-content: center;
    color: #000;
    background-size: 200% 100%;
    background-image: linear-gradient(to left, #000 50%, #fff 50%);
    transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out;
}

.sliding-button:hover {
    color: #fff;
    background-position: -100% 0;
}


    

/* Hero section styles */

.hero-container{
    margin: 5rem auto auto 5rem;
}

.hero-container h2{
    font:100 2em 'Poppins', sans-serif;
    color:#000;
    opacity: 0.2;
    margin-top: 5rem;
    
                                               
}
.hero-container h1{     
    
    font:700 6em Poppins;
    text-align: left;
    line-height: 0.8em;
   

}
.hero-container p{
    margin-top: 0.5em;
    width: 22rem;
    font:300 1.5em 'SF Pro Display', sans-serif;
                                                
}
.hero-logo{
    display: flex;
    align-items: center;
    justify-content: left;
    gap:1em;
    img{
        display: inline-block;
    }

}
.hero-logo     .img-info{
    display: inline-block;
    
    font:300 1em 'SF Pro Display';
    padding-bottom: 0.5em;
    
}







/* Rotating text styles */

.circle{
    float: right;
    margin-right: 6.5rem;
    font-family: 'SF Pro Display';
    position:  relative;
    width: 10rem;
    height: 10rem;
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    width: 100%;
    height: 100%;
    position: absolute;
    animation: anim 10s linear infinite;
}
@keyframes anim {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}
.text span{
    position: absolute;
    left: 50%;
    font-size: 1em;
    transform-origin: 0 5rem;
}
.arrow_down{
    
    animation: bounce 2.5s linear infinite;
}
@keyframes bounce{
    0%{ 
        transform:rotate(-90deg) translateX(0rem);
    }25%{
        transform:rotate(-90deg)  translateX(-0.5rem);
    }50%{
        transform:rotate(-90deg)  translateX(0rem);
    }75%{
        transform:rotate(-90deg)  translateX(0.5rem);
    }100%{
        transform:rotate(-90deg)  translateX(0rem);
    }
}


/* Water mark text styles */

.watermark{
    position: relative;
    margin-left: 0.1em;
    font:700 10em Poppins;
    opacity: 0.1;

}
/* .stroke-text-watermark {
    position: relative;
    top:-6rem;
    font:700 10em Poppins;
    color: #fff; /* Text color *//*
    opacity: 0.1;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,  
    -1px  1px 0 #000,  
     1px  1px 0 #000,
     0    0   1px #000; 
}
 */


/* Journey styles */

.journey-table{
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid red;*/
}
.journey-title-desc{
    padding-left: 0.5em;
    font:700 1rem Poppins;
    /*border: 1px solid red;*/

}
.journey-logo{
align-self: center;
padding-top: 0.3em;
height: 1.7em;
/*border: 1px solid red;*/

}

.line{
    /*border: 1px solid red;*/
   border-right:1px #000 solid; 
   width: 1em;
   
  
}
.journey-desc{
    padding-left: 1em;
    width: 20em;
    font: 300 1rem Poppins;
    /*border: 1px solid red;*/
}

/* work-styles  */

.work-container{
    margin-left: auto;
    margin-right: auto;
    width: 66vw;
}
.work-filter{
    font:300 1.2em Poppins;
    margin-top: 2em;
    margin-bottom: 2em;
}
.work-cards{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2em;
}
.work-card{
    position: relative;
    height:12rem;
    width: 21rem;
    background-size:contain;
    background-repeat: no-repeat;
    background-color: #000;
    color: white;
    border-radius: 0.5em;
    
}
.work-card-category{
    font:300 1em Poppins;
    position: absolute;
    right: 1em;
    top:0.5em;
    text-shadow:0 0 5px #000;
    opacity: 0.8;
}

.work-card-title{
    font:400 1.2em Poppins;
    position: absolute;
    left: 1em;
    bottom:0.5em;
    text-shadow:0 0 5px #000;
    

}

.more-btn-container{
    text-align: center;
}

.more-btn{
    background-color: transparent;
    color: #000;
    padding: 0.5em 1.2em 0.5em 1.2em ;
    border:0.1em solid #000;
    border-radius: 0.25em;
    -moz-border:0.1em solid #000;
    -moz-border-radius: 0.25em;
    margin-top: 3em;
}

/* Footer styles */

footer{
    position: relative;
    background-color: #000;
    min-height: 20vh;
}
.footer-watermark{
    position: absolute;
    top: -0.55em;
    color:#fff;
    position: relative;
    margin-left: 0.1em;
    font:700 10em Poppins;
    opacity: 0.2;

}

.footer-nav{
        font:300 1rem Poppins;
        position:fixed;
        right: 5vh;
        top: 5vh;
        z-index: 10;
    }
.footer-nav ul{
        list-style-position: outside;
        text-align: center;
        line-height: 2rem;
        list-style-type:none;
    }
